<div>
    <div>
      <div class="cellcontainer" *ngFor="let n of columnArray">
        <app-cell xCoord="A" [yCoord]="n"></app-cell>
      </div>
    </div>
  
    <div>
      <div class="cellcontainer" *ngFor="let n of columnArray">
        <app-cell xCoord="B" [yCoord]="n"></app-cell>
      </div>  
    </div>
      
    <div>
      <div class="cellcontainer" *ngFor="let n of columnArray">
        <app-cell xCoord="C" [yCoord]="n"></app-cell>
      </div> 
    </div>
  
    <div>
      <div class="cellcontainer" *ngFor="let n of columnArray">
        <app-cell xCoord="D" [yCoord]="n"></app-cell>
      </div> 
    </div>
  
    <div>
      <div class="cellcontainer" *ngFor="let n of columnArray">
        <app-cell xCoord="E" [yCoord]="n"></app-cell>
      </div>
    </div>
  
    <div>
      <div class="cellcontainer" *ngFor="let n of columnArray">
        <app-cell xCoord="F" [yCoord]="n"></app-cell>
      </div>
    </div>
  
    <div>
      <div class="cellcontainer" *ngFor="let n of columnArray">
        <app-cell xCoord="G" [yCoord]="n"></app-cell>
      </div>
    </div>
  
    <div>
      <div class="cellcontainer" *ngFor="let n of columnArray">
        <app-cell xCoord="H" [yCoord]="n"></app-cell>
      </div>
    </div>
  
    <div>
      <div class="cellcontainer" *ngFor="let n of columnArray">
        <app-cell xCoord="I" [yCoord]="n"></app-cell>
      </div>
    </div>
  
    <div>
      <div class="cellcontainer" *ngFor="let n of columnArray">
        <app-cell xCoord="J" [yCoord]="n"></app-cell>
      </div>
    </div>
  </div>