<div>
    
  <div>      
    <div *ngFor="let n of columnArray" class="cellcontainer enemy">
      <app-cell xCoord="A" [yCoord]="n" [status]="statusA[n]"></app-cell>
    </div>
  <div> 

  <div>
    <div *ngFor="let n of columnArray" class="cellcontainer enemy">
      <app-cell xCoord="B" [yCoord]="n" [status]="statusB[n]"></app-cell>
    </div>
  </div>

  <div>
    <div *ngFor="let n of columnArray" class="cellcontainer enemy">
      <app-cell xCoord="C" [yCoord]="n" [status]="statusC[n]"></app-cell>
    </div>
  </div>
    
  <div>
    <div *ngFor="let n of columnArray" class="cellcontainer enemy">
      <app-cell xCoord="D" [yCoord]="n" [status]="statusD[n]"></app-cell>
    </div>
  </div>

    <div>
    <div *ngFor="let n of columnArray" class="cellcontainer enemy">
      <app-cell xCoord="E" [yCoord]="n" [status]="statusE[n]"></app-cell>
    </div>
  </div>

  <div>
    <div *ngFor="let n of columnArray" class="cellcontainer enemy">
      <app-cell xCoord="F" [yCoord]="n" [status]="statusF[n]"></app-cell>
    </div>
  </div>

    <div>
    <div *ngFor="let n of columnArray" class="cellcontainer enemy">
      <app-cell xCoord="G" [yCoord]="n" [status]="statusG[n]"></app-cell>
    </div>
  </div>

    <div>
    <div *ngFor="let n of columnArray" class="cellcontainer enemy">
      <app-cell xCoord="H" [yCoord]="n" [status]="statusH[n]"></app-cell>
    </div>
  </div>

    <div>
    <div *ngFor="let n of columnArray" class="cellcontainer enemy">
      <app-cell xCoord="I" [yCoord]="n" [status]="statusI[n]"></app-cell>
    </div>
  </div>

    <div>
    <div *ngFor="let n of columnArray" class="cellcontainer enemy">
      <app-cell xCoord="J" [yCoord]="n" [status]="statusJ[n]"></app-cell>
    </div>
  </div>