
<div id="username">
<label>
  Name:
  <input type="text" [(ngModel)]="name" placeholder=" Write it here!" >
</label>
</div>

<div *ngIf="showMatches()">

<ul class="matches">
  <li *ngFor="let match of matches"  (click)="onSelect(match)" [class.selected]="match === selectedMatch">  
    <div *ngIf="match.users.length < 2">
        <span class="badge">{{match.id}}</span> {{match.name}} <div class="connected">{{match.users.length}}/2</div>
      </div>
  </li>
</ul>

</div>
    
<div *ngIf="show">
<div class="bstartd">  
<button class="bstart" (click)="navigate()" >𝕾𝖙𝖆𝖗𝖙</button>    
</div>  




